.palette {
    display: flex;
    flex-flow: column;

    padding: 16px;

    .search {
        font-size: 1.5rem;
    }
}

.palette-items {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}

.palette-item {
    flex: 0 1 50%;
}
