$base03: #002b36;
$base02: #073642;
$base01: #586e75;
$base00: #657b83;

$base0: #839496;
$base1: #93a1a1;
$base2: #eee8d5;
$base3: #fdf6e3;

#root {
  background-color: $base3;
}

.app-root {
  background: none;
}

.palette {
  padding: 0.5em 0.25em;
}

.filter-input {
  border: none;
  border-radius: 0;
  border-bottom: 2px dashed $base03;

  &:focus,
  &:focus-within,
  &:active {
    border-bottom: 2px dashed $base03;
  }

  label {
    background: transparent;
    color: $base03;
    padding: 0;
    margin: 0;
    margin-right: 0.5em;
  }

  input {
    padding: 0;
    color: $base03;
    font-size: 1rem;
  }
}

.palette-grid {
  margin: 0;
  margin-top: 0.25em;

  .palette-grid-list {
    padding: 0;
  }
}

.palette-item {
  color: $base03;
  padding: 0;
  border-radius: 0 !important;
  font-size: 1rem;

  &:nth-child(odd) {
    background-color: $base2;
  }

  &--selected {
    color: $base3;
    background-color: $base01 !important;
  }
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  padding-left: 10px !important;
}

::-webkit-scrollbar-thumb {
  background: $base02;
  border-radius: 0;
}
