li.palette-item {
    display: flex;
    flex-flow: row;
    border-radius: 0.5em;

    & > *:not(:last-child) {
        margin-right: 1em;
    }

    &.selected {
        background-color: rgba(#0984e3, 0.2);
    }

    .palette-item-left {
    }

    .palette-item-right {
        display: flex;
        flex-flow: column;
    }

    .palette-item-description {
        opacity: 0.6;
    }
}
